@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #d9ff00;
  --color-background-dark: #000000;
  --color-background-light: #ffffff;
  --color-surface-dark: #121212;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
    @apply bg-background-dark text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
  }
}

@layer utilities {
  .text-glow:hover {
    text-shadow: 0 0 10px rgba(217, 255, 0, 0.5);
  }

  .neon-border {
    border: 1px solid #d9ff00;
  }

  .carbon-texture {
    background-image: radial-gradient(#1a1a1a 0.5px, transparent 0.5px);
    background-size: 4px 4px;
  }

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #000;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d9ff00;
  }
}